/* Chapter1.css */
.fade-text {
    opacity: 0;
    transition: opacity 1s ease-in-out; /* ทำให้เกิดการเปลี่ยนแปลงค่อยๆ */
  }
  
  .fade-in {
    opacity: 1; /* ทำให้ข้อความค่อยๆ ขึ้น */
  }
  
  .fade-out {
    opacity: 0; /* ซ่อนข้อความก่อนเปลี่ยนบรรทัด */
  }

  
  .container-chapter2 {
    display: flex;
    justify-content: center;
    height: 100vh;
    /* background-image: url("../../../gifs/chapter2-work.gif"); */
    background-size: contain; /* ให้ภาพพอดีกับคอนเทนเนอร์ */
    background-repeat: no-repeat; /* ป้องกันไม่ให้ภาพซ้ำ */
    background-position: center; /* จัดตำแหน่งภาพให้อยู่ตรงกลาง */
    transition: background-image 2s ease-in-out; /* การเปลี่ยนแปลงภาพพื้นหลัง */
  }
  .chapter2-detail {
    position: relative;
    height: 100vh;
    /* width: 80%; */
    max-width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    /* border: 1px solid red; */
  }
  @media (min-width: 1200px) {
    .chapter2-detail {
      max-width: 30%;
    }
  }
  .detail-text {
    /* background-color: rgba(179, 179, 179, 0.452); */
    /* border: 1px solid rgb(35, 129, 245); */
    width: 80vw;
    border-radius: 25px;
  }
  .btn-chapter2 {
    position: absolute;
    bottom: 5%;
    right: 10%;
  }

#detail-h3-chapter2 {
    margin-top: 44vh;
  }

  .ask-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 1px solid red; */
    height: 100vh;
  }

  #detail-text-chapter2 {
    background: rgba(255, 255, 255, 0.804);
    border-radius: 25px;
    margin-top: 25vh;
  }